.intro-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../intro-bg.jpg');
    min-height: 900px;
}

.intro-bg p {
    /* background-color: lawngreen; */
    height: 8rem;
    width: 40rem;
    margin-top: 54rem;
    margin-left: 2rem;
    color: white;
    font-weight: bold;
}

.img-card {
    width: 18rem;
    height: 12rem;
}

.events-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event-date {
    color: red;
    font-weight: bold;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.list-div{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: khaki;
}
