.intro-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../intro-bg.jpg');
    min-height: 900px;
}

.img-card {
    width: 18rem;
    height: 12rem;
}

.events-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event-date {
    color: red;
    font-weight: bold;
}

.event-title {
    min-height: 4rem;
}
